<%- include('partials/header.ejs'); -%>

  <div id="header">
    <h1>2Do✏️</h1>
    <a href="/new_list"><button type="submit" class="add-list-btn">New to-do list</button></a>
  </div>
  <% if(locals.listItems){ %>
    <!-- Main container -->
    <div id="to-do-lists">
    <% let listSet = new Set(listItems.map(item => item.list_id)); %>
    <% listSet.forEach(listItem => { %>
      <!-- Individual to-do lists -->
      <div class="box">
        <% var currentList = listItems.filter((item) => item.list_id == listItem) %>
        <h2><%= currentList[0].list_name %></h2>
        <h3><%= currentList[0].list_date.toString().slice(0,16) %></h3>
        <% listItems.filter((item) => item.list_id == listItem).forEach(item => { %>
          <% if(item.item_id != null && item.title != null){ %>
            <div class="item">
              <!-- Delete item -->
              <form action="/delete/<%= item.item_id %>" method="post">
                <input id="delete-btn" type="submit" name="deleteItemId" value="">
              </form>
              <p id="title<%=item.item_id%>"><%= item.title %></p>
              <!-- Edit item -->
              <form class="edit" action="/edit" method="post">
                <input type="hidden" name="updatedItemId" value="<%= item.item_id %>">
                <input id="input<%=item.item_id%>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off"
                  autofocus="true" hidden="true" required />
                <button id="done<%=item.item_id%>" class="edit" type="submit" hidden><img class="icon"
                    src="/assets/icons/check-solid.svg" alt="tick image"></button>
              </form>
              <button id="edit<%=item.item_id%>" class="edit" onclick="handler('<%=item.item_id%>')"><img class="icon"
                  src="/assets/icons/pencil.svg" alt="pencil image"></button>
            </div>
        <% }}) %>
        <!-- Add item -->
        <form class="item" action="/add" method="post">
          <input type="text" name="newItem" placeholder="Add task" autocomplete="off" autofocus="true" required/>
          <input type="hidden" name="newlistId" value="<%= listItem %>">
          <button class="add" type="submit" name="list">+</button>
        </form>
        <!-- Delete list -->
        <form action="/delete_list/<%= listItem %>" method="post" id="delete-form">
          <input type="submit" id="delete-list-btn" value="">
        </form>
      </div>
    <% }) %>
  </div>
  <% } else { %>
    <h2>No to-do lists yet</h2>
  <% } %>

  <script>
    function handler(id) {
      document.getElementById("title" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
  </script>
  <%- include('partials/footer.ejs'); -%>